 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        {{property.title}}
                    </a>
                </li>
                <li>
                    <a href="#/edit_property/{{property.id}}">Address</a>
                </li>
                <li>
                    <a href="#/photo_property/{{property.id}}">Photos</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
            </ul>
        </div>
<!-- /#sidebar-wrapper -->